{% extends "layout.njk" %}
{% block header %}
    <title>Estudantes</title>
{% endblock %}
{% block content %}
    <div class="card table-container">
        <div class="header">
            <a class="botao-novo" href="/students/create">Novo</a>
            <form action="/students" method="get">
            <input 
            type="text"
            name="filter"
            placeholder"Filtrar por nome"
            value="{{filter}}"
            >
            <button type="submit">filtrar</button>
            </form>
        </div>
        <table width="100%">
            <thead>
                <tr>
                    <th>Nome completo</th>
                    <th>Email</th>
                    <th>Ano escolar</th>
                    <th>Ação</th>
                </tr>
            </thead>
            <tbody>
                {% for student in students %}
                    <tr>
                        <td>
                            <span style="background-image: url({{student.avatar_url}})"></span>
                            {{student.name}}
                        </td>
                        <td>{{student.email}}</td>
                        <td>{{student.schoolyear}}</td>
                        <td>
                            <a href="/students/{{student.id}}">Editar</a></td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
        <div class="pagination"
         data-page={{pagination.page}}
         data-total={{pagination.total}}
         data-limit={{limit}}
         data-filter={{filter}}
        >
        </div>
    </div>
{% endblock %}